body {
    background-color: beige;
}
img {
    height: auto;
    width: 40%;
    margin: 0 auto;
}
.ingredients {
    width: 80%;
    border: .1rem solid darkred;
    margin: 0 auto;
    padding: 1rem 5rem;
}

.steps {
    width: 80%;
    border: .1rem solid darkred;
    margin: 0 auto;
    padding: 1rem 5rem;
}

.list {
    width: 80%;
    border: .1rem solid darkred;
    margin: 0 auto;
}
