body {
    background-color: beige;
}

.ingredients {
    width: 80%;
    border: .25rem solid darkred;
    margin: 0 auto;
}

.steps {
    width: 80%;
    border: .25rem solid darkred;
    margin: 0 auto;
}
